body {
    background: rgb(228, 226, 229);
    font: normal 20pt Arial;
}

header {
    color: white;
    text-align: center;
    font-size: 22px;
}

div {
    text-align: center;
    padding: 10px;
}

section {
    background: white;
    border-radius: 30px;
    padding: 8px;
    height: 420px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

@media screen and (max-width: 600px){
    header {
        font-size: 0.9rem;
    }

    div, footer {
        font-size: 1.2rem;
    }
    
    section {
        border-radius: 20px;
        padding: 4px;
        width: 300px;
        height: auto;
    }

    #imagem {
        width: 180px;
    }
}